In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [32]:
data_set = pd.read_csv('data/dirty_mnist_2nd_answer.csv')
kfolder_idx = 4

In [33]:
assert kfolder_idx <= 4

AssertionError:

In [25]:
valid_idx_nb = int(np.round(len(data_set) * (1 - 0.8)))
print(valid_idx_nb)

10000

In [26]:
valid_idx = np.arange(valid_idx_nb * kfolder_idx, valid_idx_nb * (kfolder_idx + 1))
print(valid_idx)

[40000 40001 40002 ... 49997 49998 49999]

In [27]:
train_data = data_set.drop(data_set.index[valid_idx_nb * kfolder_idx:valid_idx_nb * (kfolder_idx + 1)])
valid_data = data_set.iloc[valid_idx_nb * kfolder_idx:valid_idx_nb * (kfolder_idx + 1)]

In [28]:
valid_data

       index  a  b  c  d  e  f  g  h  i  ...  q  r  s  t  u  v  w  x  y  z
40000  40000  0  0  0  1  1  1  0  0  0  ...  1  1  1  1  1  1  0  1  1  1
40001  40001  0  0  0  0  1  0  1  0  0  ...  1  1  1  1  1  1  1  0  1  0
40002  40002  1  1  1  0  1  1  1  1  0  ...  1  0  0  1  0  1  0  0  0  1
40003  40003  1  0  0  1  1  0  1  0  1  ...  1  0  1  0  0  0  0  1  0  0
40004  40004  1  1  1  0  0  0  0  0  1  ...  0  1  1  0  1  0  0  0  0  0
...      ... .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
49995  49995  0  1  1  0  0  0  0  1  0  ...  0  0  0  1  0  0  0  1  1  0
49996  49996  0  1  0  1  0  1  1  1  0  ...  0  1  1  1  0  1  0  0  0  1
49997  49997  0  1  0  0  1  1  1  1  0  ...  1  0  0  0  0  1  1  1  0  0
49998  49998  0  1  1  1  0  0  1  1  0  ...  0  1  1  1  0  0  0  1  0  0
49999  49999  1  0  1  0  0  0  0  0  0  ...  0  1  1  0  1  1  0  1  0  0

[10000 rows x 27 columns]